# Dependency directories
*/node_modules/

# Local coverage
*/coverage

# local build
*/dist

# TypeScript cache
*.tsbuildinfo

# git ignore
.gitignore

# Optional npm cache directory
.npm

# yarn v2
.yarn/cache
.yarn/unplugged
.yarn/build-state.yml
.yarn/install-state.gz
.pnp.*